.parallax {
    /* The image used */
    background-image: url("../../images/star-wars-backgrounds-26.png");
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }