.About {
  background-color: black;
  opacity: 0.9;
  margin-top: 100px;
  font-size: 36px;
}

.bg-red {
  background-color: red;
}

.text-red {
  color: red;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.mb-200 {
  margin-bottom: 200px;
}

.profilePic {
  background-position: center;
}
