.About {
    background-color: black;
    opacity: 0.9;
    margin-top: 100px;
    font-size: 36px;
  }

  .bg-red {
    background-color: red;
  }
  
  .text-red {
    color: red;
  }
  
  .bg-black {
    background-color: black;
  }
  
  .mb-200 {
    margin-bottom: 200px;
  }
  
.profilePic {
  background-image: url("../../images/ProfilePic.png");
  background-size: cover;
  width: 480px;
  height: 480px;
}
