.bg-red {
  background-color: red;
}

.text-red {
  color: red;
}

.bg-black {
  background-color: black;
}

.navbarCustom {
  opacity: 0.9;
}

.About {
  background-image: url("./images/Vader.jpg");
  opacity: 0.9;
  height: 680px;
  margin-top: 100px;
  font-size: 36px;
}

.Portfolio {
  background-image: url("./images/storm.gif");
  opacity: 0.9;
  height: 680px;
}

.header-mt {
    margin-top: 200px;
}

body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("./images/star-wars-backgrounds-26.png");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profilePic {
  background-image: url("./images/ProfilePic.png");
  background-size: cover;
  width: 480px;
  height: 480px;
}

.bg-img-jawa {
  /* background-image: url("./images/LogoBlck.png"); */
  background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.cardMarginTop {
  margin-top: 100px;
}

.cardWidth {
  width: 18rem;
}

.card-img-top {
  height: 200px;
}

.btn-black {
    color: red;
    background-color: black;
    border-color: black;
}
