
.About {
    background-color: red;
    height: 100px;
    margin-top: 1000px;
    font-size: 36px;
}

body, html {
    height: 100%;
  }
  .parallax {
    /* The image used */
    background-image: url('./images/star-wars-backgrounds-26.png');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }