body,
html {
  height: 100%;
}

.bg-red {
  background-color: red;
}

.text-red {
  color: red;
}

.bg-black {
  background-color: black;
}

.btn-black {
  color: red;
  background-color: black;
  border-color: black;
}

.mb-200 {
  margin-bottom: 200px;
}
